body{
    font-family: "open sans",sans-serif ;
    margin: 0px;
}
h1, h2, h3, h4{
    font-family: "Oswald", sans-serif;
}

#banner{
    background-color: black;
    width: 100%;
    height: 100vh;
    background: url(../img/banner/visao-geral-museu-bahia-nautico-em-salvdor-brasil-sob-ceu-azul-nublado.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    
}

.container{
    max-width: 1000px;
    margin: auto;
    height: calc(100vh - 180px);
    display: flex;
}

.footer-banner{
    height: 180px;
    width: 100%;
    background: url(../img/banner/gorki3.png);
    background-position: center;
}

.texto-banner{
    width: 62%;
    background-color: rgba(255, 255, 255, 0.404);
    /* margin-top: 50px;
    margin-bottom: 50px*/
    margin: 50px 0;
    padding: 50px;;
    border-radius: 20px 20px 20px 20px;
}

.topicos-banner{
    width: 38%;
    margin:50px 0;
    padding: 30px;
}

h1{
    font-size: 2.5rem;
}

.texto-destaque{
    color:#015c97;
}

.texto-justificado{
    text-align: justify;
}

.mais-info{
    background-color: #015c97;
    width: 32%;
    height: 30px;
    margin-left: 60%;
    margin-top: 7%;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
}
.topicos{
    display: flex;
    margin-bottom: 30px;
    padding: 30px;
}
.icone-topicos{
background-color: #015c97;
width: 50px;
height: 50px;
font-size: 1.8rem;
text-align: center;
padding: 6px 6px 0;
border-radius: 10px 10px 0 10px;
}
.texto-topicos{
border-radius: 0px 10px 10px 10px;
margin-top: 10px;
width: calc(100% - 100px);
min-height: 50px;
background-color: white;
text-align: center;
padding: 3px 10px;
}

.largura-padrao{
    max-width: 1000px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.w-50{
    width: 50%;
    padding: 30px;
}

.item-produtos{
    padding: 8px;
    background-color: rgb(248, 248, 248);
    margin-top: 31px;
    margin-bottom: 30px;
    box-shadow:5px 8px 8px rgb(163, 162, 162);
    border-radius: 5px;
    display: flex;
    border: 1px rgb(190, 190, 190) solid;


}

.item-produtos i{
    background-color: #015c97;
    border-radius: 5px;
    padding: 11px;
    width: 38px;
    display: inline-block;
    text-align: center;
    font-size: 1.8rem;


}

.social{
    display: flex;
    font-size: 2rem;
}
.social1{
    padding: 18px;
    width: 10px;
}